*{
  margin: 0;
  padding: 0;
  /* width: 100%;
  height: 100%; */
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(209, 215, 227, 1) 100%, rgba(237, 221, 83, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;

}
.card{
  width: 360px;
  height: 570px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}
.card img{
  height: 60%;
  width: 96%;
  border: 2px solid black;
  border-radius: 10px;
  
}
.card h2{
  font-weight: bold;
  font-size: 1.5rem;
}
.card p{
  font-size: 1.2em;
}
