#navList{
  padding: 15px;
  width: 100%;
  display: flex;
  list-style: none;
  font-size: 2.5rem;
  justify-content: space-around;
  /* margin-left: 15px;
  margin-right: 25px; */
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100%;
  overflow-x: none;
  background-image: linear-gradient( 89.2deg,  rgba(255,255,255,1) -1.3%, rgba(253,109,38,1) 281.6% );
  overflow: hidden;
}
.navContainer{
  display: flex;
  width: 100vw;
  background-image: radial-gradient( circle 404px at 20.3% 15.9%,  rgba(0,79,255,1) 0%, rgba(0,240,255,1) 90% );
  min-height: 80px;
  justify-content: center;
  align-items: center;
  position: relative;

}
#navLogo{
  font-size: 2.8rem;
  color: white;
}
nav{
  width: 100%;
  overflow-x: none;
  padding-right: 2rem;
}
a{
  text-decoration: none;
  color: azure;
}
#navItems{
  display: flex;
  gap: 40px;
  
}
.footerBox{
  background-image: radial-gradient( circle 404px at 20.3% 15.9%,  rgba(0,79,255,1) 0%, rgba(0,240,255,1) 90% );
  width: 100%;
  text-align: center;
  min-height: 40px;
  overflow: hidden;
}
.footerBox p{
  color: azure;
  font-size: 2rem;
}
.contentBox{
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 70%;
  margin: auto;
  /* border: 1px solid black; */
  background-color: #fff;
  padding: 3rem;
  box-shadow: 1px 0px 30px black;
}
.item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightBox{
  position: relative;
  overflow: hidden;
  transition: all 0.6s linear 0s;
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
}
.rightBox img{
  height: 400px;
  border-radius: 20px;
  transition: all 0.6s linear 0s;
}
.rightBox:hover{
  transform: scale(1.1);
}
.leftBox {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.leftBox h2{
  font-size: 2rem;
}
.ingBox{
  font-size: 1.3rem;
}
.recBox{
  font-size: 1.1rem;
}
.rightBox .overlay{
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(36, 34, 34, 0.713);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s linear 0s;
}
.rightBox:hover .overlay{
  opacity: 1;
}
.rightBox .overlay span{
  color: white;
  font-size: 1.2rem;
  border-radius: 20px;
}
